.about {
  margin: 0 auto;
  text-align: center;
  padding: 30px 30px 90px 30px;
  /*background-color: rgb(41, 201, 250);*/
  min-height: 650px;
  max-width: 600px;
}

.aboutBox {
  float: left;
  padding: 24px;
}

.about h1 {
  margin: 0 10px;
  font-weight: 700;
  font-family: 'Courgette', cursive;
  font-size: 4em;
}

.about p{
  max-width: 500px;
  padding: 14px;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
}

.redLetter {
  color: rgb(255, 0, 0);
}