/* Styling for NavBar */

.logo {
  color: #000;
  margin: 8px;
  font-family: 'Pacifico', cursive;
  word-spacing: 4px;
  letter-spacing: 4px;
  font-size: 25px;
  padding: 8px;
  /*border-radius: 8px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.5);*/
}

nav {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-between;
  background-color: rgb(20, 166, 211);
  align-items: center;
  padding: 0 20px 0 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 20px 0 0;
  font-size: 22px;
  line-height: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  line-height: 4px;
  padding: 12px;
  border-radius: 8px;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

/* Nav transition animation*/
nav ul li a:hover {
  color: rgb(221, 221, 221);
  font-size: 28px;
  padding: 0;
  -webkit-box-shadow: 0px 0px 110px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 110px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 110px -10px rgba(0,0,0,0.75);
}
